*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.main .header
{
  grid-column: 1/-1;
}
.header img{
    width: 100%;
    height: 400px;
}
.main .left{
    grid-column-start:1 ;
    grid-column-end: 2;
    padding: 10px;
   
}
.main .left img{
  width: 60%;
}
.left .contact{
    padding: 20px;
    font-size: x-large;
    color: rgb(70, 98, 237);
}
.main .mid{
    grid-column-start:2 ;
    grid-column-end: 3;
    
}
.main .mid form{
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    border:1px solid black;
    box-shadow:0 5px 10px black;
    width: 400px;
    height: 450px;
    margin-top: 40px;
    color:red;
}
.main .mid input{
    padding: 20px;
    width:300px;
    margin-bottom: 10px;
    border: none;
    background-color:wheat;
    border-bottom:2px solid black;
}
.main .mid button{
    display: block;
    margin-top: 10px;
    margin-left: 90px;
    width: 120px;
    background-color: rgb(116, 116, 230);
    color: aliceblue;
    
}
.main .mid button:hover{
    cursor: pointer;
}
.main .mid textarea{
    width: 280px;
    background-color:rgb(243, 234, 219);
}
.main .right{
    grid-column-start:3 ;
    grid-column-end: 4;
}
.main .right img{
    width:60%;
  }
  .right .contact{
    padding: 20px;
    font-size: x-large;
    color: rgb(70, 98, 237);
}
.footer .list{
    display: flex;
   padding-left:400px ;
    align-items: center;
    list-style: none;
    background-color: rgb(183, 165, 165);
}
.footer .list li{
    margin:  20px;
}
.footer .list img{
    width: 80px;
    border-radius: 20px;
}
.footer .copy{
    background-color: none;
}
@media screen and (max-width: 450px) {
    .main{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:auto auto auto auto ;
        position: relative;
    }
    .header{
       
        grid-row-start:1 ;
        grid-row-end:2 ;
        grid-column: 1/-1;
    }
    
   .left{
  
       grid-row-start:2 ;
        grid-row-end: 3;
        grid-column: 1/-1;
        
    }
    .mid{
        position: absolute;
        top:5px;
        left:-450px;
       
        grid-row-start:3;
        grid-row-end: 4;
        grid-column: 1/-1;
    }
     .right{
        position: absolute;
        top:580px;
        left:1px;
       
        grid-row-start:4 ;
        grid-row-end: 5;
        grid-column: 1/-1;
        
    }
    .footer{
        position: absolute;
        top:2100px;
         left: -100px;
    }
    .footer .list{
        display: flex;
        flex-direction: column;
       
    }
}