* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(231, 251, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h1 {
    margin: 10px 10px;
    font-size: 40px;

}

.logo h1 span {
    color: rgb(80, 152, 47);

}

.list {
    display: flex;
    
    justify-content: space-around;

    list-style-type: none;
}

.list li {
    margin: auto 20px;

}

a {
    text-decoration: none;
}

li a {
    font-size: 18px;
    color: rgb(20, 19, 19);
    padding: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a:hover {
    background-color: rgb(14, 68, 25);
    color: white;

    text-transform: capitalize;
    padding: 5px;
    box-shadow: 1px 5px 15px rgb(9, 78, 78);
    border-radius: 6px;
    font-weight: bold;

}

li a.active {
    background-color: rgb(15, 135, 39);
    color: white;
}

.home img {
    width: 100%;
}

.mandis {
    background-color: rgb(234, 228, 228);
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px;
    border-bottom:5px solid burlywood ;
}

.mandis .card {
    line-height: 40px;
    border: 2px solid brown;
    padding: 20px;
    margin: 20px 10%;
   box-shadow: 1px 5px 10px black;
}

.mandis .card button {
    width: 100px;
    padding: 5px;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#tech {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px;
}

#tech .card2 img {
    width: 325px;
    height: 200px;
}

#tech .card2 {
    line-height: 40px;
    border: 2px solid rgb(75, 24, 170);
    padding: 20px;
    margin: auto 10%;
    box-shadow: 1px 5px 10px black;
}

#tech .card2 button {
    width: 100px;
    padding: 5px;
    background-color: rgb(26, 135, 171);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
@media screen and (max-width:450px){
    .navbar{
        display: block;
        position:unset;
    }
    .navbar .list{
        display:block;
        line-height: 30px;
    }
    .mandis  {
        display: grid;
        grid-template-columns: auto;
        margin: -3px;
    }
    .mandis .card img{
        width: 100%;
    }
    #tech {
        display: grid;
        grid-template-columns: auto;
    }
    #tech .card2 img{
        width: 100%;
    }
}